body{
    background-color: rgb(204, 221, 11);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#id1{
    color: rgb(137, 5, 124);
    
}
h3{
    color: rgb(8, 134, 35);
}
div{
    color: rgb(137, 5, 124);
}